{%extends 'base.html'%}
{%block body%}
{%load static%}
<style>
    .img-wrap img{
        padding: 10px;
        border-radius:80%;
        box-shadow: 0 0 10px #999999;
    }

     .img-wrapp img{
        padding: 10px;
        border-radius:80%;

    }
</style>

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display">Tejal Patel & Vaishnavi Soni</h1>

        <p class="lead text-muted mb-0">Hello there. This is our project of places recommendation system using collaborative filtering. Due to time constraint, we have only included limited images of different places of India. Here, you can search the places, give rating, register, login <pages></pages>.  </p>

      </div>
      <div class="col-lg-6 d-none d-lg-block img-wrap"><img src="{%static 'images/regina.jpeg'%}" alt="" class="img-fluid">

          <!--<ul class="social mb-0 list-inline mt-3 text-center">
            <li class="list-inline-item"><a href="https://twitter.com/RukeshShresth14" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/____rukesh____/" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/rukesh-shrestha-07914b1a3/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>-->
      </div>

    </div>
  </div>
</div>

<div class="bg-white py-1">
  <div class="container py-1">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1 img-wrapp"><img src="{%static 'images/'%}" alt="" class="img-fluid"></i>
        <h2 class="font-weight-light">Special Thanks . . .</h2>
        <hr>
        <h4 class="font-weight-light">Dr. Samira Sadaoui</h4>
        <p class="font-italic text-muted mb-4">Dr. Samira Sadaoui is our professor for the course CS 872 Software Development. We have developed this project as a part of our course under the guidance of the professor.Dr Samira has helped us alot during this short journey of our project in every manner and we have learned alot from this course. Thank you so much Dr. Samira for the great guidance for this project.</p><a href="https://www.uregina.ca/" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2 "><img src="{%static 'images/UR_Logo_Primary_Full_Colour_RGB.png'%}" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>

  </div>
</div>





{%endblock%}